<!DOCTYPE html>
<html>
  <head>
    <title>eShop</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="./dist/build.js" defer></script>
  </head>
  <body>
    <div id="app">
      <header>
        <div class="container">
          <goods-search></goods-search>
          <button class="cart-button" type="button" @click.preventDefault="basketHandler">Корзина</button>
        </div>
        <div v-if="isVisibleBasket">
          <div v-if="!isBasketError">
            <hr>
            <basket v-if="basket.length > 0" :basket="basket" :remove-from-basket="removeFromBasket">
            </basket>
            <div class="container-basket" v-else>
              <div class="basket-no-items">
                No items in the basket.
              </div>
            </div>
          </div>
          <div class="container-basket" v-else>
            <div class="basket-no-items">
              Error reading basket content from server.
            </div>
          </div>
        </div>
      </header>
      <main>
        <hr>
        <goods-list v-if="filteredGoods.length > 0" :goods="filteredGoods" :add-to-basket="addToBasket">
        </goods-list>
        <div v-else>
          <error-component :is_error="isServerError"></error-component>
          <h3>
            List of goods is empty.
          </h3>
        </div>
      </main>
    </div>
  </body>
</html>
